@model Proyecto3MVC.Models.Proyecto

@{
    ViewBag.Title = "Innovacion";
}

<main>
    <h2>Proyecto innovacion<h2>
        <p> aqui esta el proyecto</p>
    <h3>Proyecto del gobierno nacional para apoyo a ideas de negocio colombianas.<h3>

</main>
