@model Proyecto3MVC.Models.IdeaDeNegocio
@{
    ViewBag.Title = "MostrarIdea";
}

<h2>Aca se muestra toda la informacion de la idea de negocio con registro exitoso</h2>
<p>Codigo de la idea: @Model.Codigo</p>
<p>Nombre de la idea: @Model.Nombre </p>

